.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2000px;
  border-radius: 50%;
  /* background: linear-gradient(-45deg, #4481eb, #04befe); */
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}
.regmain {
  position: relative;
  z-index: 1000;
  display: flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: space-evenly;
  /* gap: 80px; */
  align-items: center;
  height: 100vh;
  width: 100%;
}
@media (max-width:956px){
  .regmain{
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 0;
  }
}
.formscontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.regform .formbox {
  position: relative;
  width: 400px;
  max-width: 100%;
  height: 100%;
  
  background-color: #e0e0e0 !important;
}
.regform .input {
  width: 100%;
  height: 100%;
}
.regform .input::placeholder{
  color: #333;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.2em;
}
.formbox .formicons {
  position: absolute;
  top: 14px;
  right: 10px;
   color: #8a8a8a;
}
